name: Java Selenium-samples CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: nanasess/setup-chromedriver@master
      with:
       chromedriver-version: '79.0.3945.36'
    - run: |
       export DISPLAY=:99
       chromedriver --url-base=/wd/hub &
       sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 & # optional
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn -B package --file pom.xml
  
